<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Añadir Entrenador</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Añadir Nuevo Entrenador</h2>
        
        <form th:action="@{/entrenadores/add}" th:object="${entrenador}" method="post">

            
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" id="nombre" name="nombre" class="form-control" th:field="*{nombre}" required>
            </div>

            <div class="mb-3">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="text" id="apellido" name="apellido" class="form-control" th:field="*{apellido}" required>
            </div>

            <div class="mb-3">
                <label for="dni" class="form-label">DNI</label>
                <input type="number" id="dni" name="dni" class="form-control" th:field="*{DNI}" required>
            </div>


            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="/entrenadores/adminentrenadores" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>
</html>
